.section-register {
    height: 100vh;
}

.checkbox-input {
    text-align: left;
}

.radio-input {
    text-align: left;
    color: $color-grey;
    display: block;
}


.label {
    color: $color-grey;
    display: inline-block;
    margin-left: 1rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.2rem;
    
}