.section-home {
    padding: 3rem;
    
    background-color: $color-white;
    background-size: cover;
    background-position: top;
    

    &__title {
        width: 40rem;
        display: inline-block;
        text-transform: uppercase;
        font-size: 3rem;
        background-color: rgba($color-primary, .85);
        border-radius: 10px;
        padding: 1rem 1.4rem;
        letter-spacing: 8px;
    }
}

.section-login {
    height: 100vh;
}

.login-modal {
    height: auto;
    display: block;
    border-radius: 15px;
    width: 30rem;
    @include abs-center;
}

.form{

    &_input {
        font-weight: 300;
        display: block;
        width: 95%;
        margin: auto;
        padding: 1rem;
        border: none;
        border-bottom: 2px solid $color-grey;
        
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
        
        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder  {
            text-transform: uppercase;
            letter-spacing: 5px;
            font-family: 'Lato';
            font-size: 1rem;
        }
        

    }

}


