.u-center {
    text-align: center !important;
}

.u-right {
    text-align: right !important;
}


.u-hidden {
    display: none;
    opacity: 0;
    z-index: -100;
}

///float overrides 
.u-float-left {
    float: left;
}

//////right margins
.u-no-margin-right {
    margin: 0 !important;
}

.u-mr-small {
    margin-right: 2rem;
}

//////right margins
.u-no-margin-right {
    margin: 0 !important;
}

.u-ml-small {
    margin-left: 1rem;
}

/////top margins
.u-mt-large {
    margin-top: 6rem !important;
}

.u-mt-med {
    margin-top: 3rem !important;
}

.u-mt-small {
    margin-top: 1.5rem !important;
}
/////bottom margins
.u-mb-small {
    margin-bottom: 1.5rem !important;

    &--admin {
        margin-bottom: 2rem !important;
    }
}

.u-mb-med {
    margin-bottom: 3rem !important;
}

.u-mb-large {
    margin-bottom: 6rem !important;
}

///border-bottom 
.u-border-bottom {
    border-bottom: 1px solid $color-primary;

    &-wht {
        border-bottom: 1px solid $color-white;
    }
}

.clearfix {
    &::after{
        content: '';
        display: table;
        clear: both;
    }
}