.u-center {
    text-align: center !important;
}


.mt-large {
    margin-top: 6rem !important;
}

.mt-med {
    margin-top: 3rem !important;
}

.mt-small {
    margin-top: 1.5rem !important;
}

.mb-med {
    margin-bottom: 2rem !important;
}
