$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vert: 8rem;
$gutter-vert-sm: 6rem;
$gutter-horo: 6rem;

$color-primary: #56B3A0;


$color-secondary: #BC8F89;

$color-white: #ffffff;
$color-black: #000000;

$color-grey: #95A5A2;

