$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vert: 8rem;
$gutter-vert-sm: 4rem;
$gutter-horo: 6rem;

$color-primary: #56B3A0;


$color-secondary: #BC8F89;

$color-tertiary: #529ABF;

$color-white: #ffffff;
$color-black: #000000;

$color-grey: rgb(149, 165, 162);
$color-dark-grey: rgb(79, 87, 86);

