<% errors.forEach(function(message) { %>
    <div class="alert alert-danger u-center"><%= message %></div>
<% }) %>

<% success.forEach(function(message) { %>
    <div class="alert alert-success u-center"><%= message %></div>
<% }) %>

