<%- include('includes/header') %>

<div class="sidenav">

    <div class="sidenav__box">
        <a href="#">Users&nbsp;<span class="rotate">&#62;</span></a>
            
        <a href="#">Homes</a>
        <a href="#">Keepers</a>
    </div>
</div>

<main>
<section class="section-register ">
        <div class="login-modal">
            <div class="header-box u-center u-mb-med">
                <div class="header-box__subtitle--login">Register New User</div>
                
            </div>

            <form action="/admin/register" method="POST" class="form u-center">
                <input type="text" class="form_input" name="username" placeholder="username">
                <input type="text" class="form_input" name="password" placeholder="pass">
                <div class="heading-3">Which Home(s) Does This User Have Access To ?</div>
                <div class="checkbox-input">
                                    
                    <input type="checkbox" name="home-name" value="sunriver" class="home-checkbox" id="sunriver">
                    <label for="sunriver" class="label">Sunriver</label><br>
                    <input type="checkbox" name="home-name" value="idaho" class="home-checkbox" id="idaho">
                    <label for="idaho" class="label">Idaho</label><br>
                    <input type="checkbox" name="home-name" value="cannon-beach" class="home-checkbox" id="cannon-beach">
                    <label for="cannon-beach" class="label">Cannon Beach</label><br>
                        <br>  
                </div>
                <div class="heading-3">What Role Does This User Have ?</div>
                <div class="radio-input">
                    <input type="radio" name="user-role" value="user" id="user">
                    <label for="user" class="label">User</label><br>
                    <input type="radio" name="user-role" value="keeper" id="keeper">
                    <label for="keeper" class="label">Keeper</label> <br>
                    <input type="radio" name="user-role" value="admin" id="admin"> 
                    <label for="admin" class="label">Administrator</label><br>
                </div>
                <div class="u-right">
                    <button type="submit" class="btn btn-login">SUBMIT</button>
                </div>
            </form>
        </div> 
</section>
</main>
</body>
</html>



