<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <title>AMC - Login</title>
    </head>
<section class="section-login ">
        <div class="login-modal">
            <div class="header-box u-center u-mb-med">
                <img src="/img/sunriver-sm.png" class="header-box__image--login"></img>
                <div class="header-box__title--login">AMC</div>
                <div class="header-box__subtitle--login ">Vacation Rentals</div>
            </div>

            <form action="/login" method="POST" class="form u-center">
                <input type="text" class="form_input" name="username" placeholder="username">
                <input type="text" class="form_input" name="password" placeholder="password">
                <div class="u-right">
                    <button type="submit" class="btn btn-login">SUBMIT</button>
                </div>
            </form>
        </div> 
</section>
</body>
</html>



