<%- include('includes/header') %>
<header class="header clearfix">
        <div class="header__logo-box">
            <h1 class="header__logo-box--title">AMC</h1>
            <h2 class="header__logo-box--subtitle">Vacation Rentals</h2>
        </div>
        <nav class="navigation__nav">    
            <ul class="navigation__list">
                <li class="navigation__item"><a href="#">sunriver</a></li>
                <li class="navigation__item"><a href="#">cannon beach</a></li>
                <li class="navigation__item"><a href="#">idaho</a></li>
                <li class="navigation__item">
                    <svg class="icon icon-cog"><use xlink:href="/img/sprite.svg#icon-cog"></use></svg> 
                    <ul class="navigation__nav--sub-menu">
                        <li><a href="/admin">Admin Panel</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
<body>    
<section class="section-home">
    <div class="header-box u-center u-u-mb-med">
        <img src="/img/sunriver-sm.png" class="header-box__image"></img>
        <div class="header-box__title">Sunriver</div>
    </div>
    <div class="row u-mb-med">
        <div class="col-1-of-3">
            <div class="make-res">
                <h2 class="heading-2">Make a reservation</h2>
                <%- include('includes/flash') %>
                <form action="/makeReservation" method="POST" class="make-res__form u-mt-med">
                    <div class="make-res__input-box">
                        <label for="resDates">Dates</label>
                        <input type="text" name="resDates" class="make-res__input-field" placeholder="" id="resCalendar">
                    </div>
                    <div class="make-res__input-box">
                        <label for="guest">Guest</label>
                        <input type="text" name="guest" class="make-res__input-field" placeholder="">
                    </div>
                    <div class="make-res__input-box">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" class="make-res__input-field" placeholder="">
                    </div>
                    <button class="btn btn-reserve u-mt-small">reserve</button>
                </form>
            </div>
        </div>
        <div class="col-2-of-3">
            <div class="cur-res">
                <div class="res-title u-mb-med">All Current Reservations</div>
                    <table class="cur-res__results">
                            <thead class="cur-res__results--title">
                            <tr>
                                <th>user</th>
                                <th>guest</th>
                                <th>start</th>
                                <th>end</th>
                                <th>phone</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody class="cur-res__results--body"></tbody>>
                            <tr>
                                <td>Kathy</td>
                                <td>Kathy</td>
                                <td>9-12-2019</td>
                                <td>9-20-2019</td>
                                <td>555-222-1111</td>
                                <td><svg class="icon icon-pencil cur-res__icon--edit"><use xlink:href="img/sprite.svg#icon-pencil"></use></svg></a>
                                    <svg class="icon icon-cancel-circle cur-res__icon--delete"><use xlink:href="img/sprite.svg#icon-cancel-circle"></use></svg></a>
                                </td>
                            </tr>

                            <tr>
                                    <td>Kathy</td>
                                    <td>Kathy</td>
                                    <td>9-12-2019</td>
                                    <td>9-20-2019</td>
                                    <td>555-222-1111</td>
                                    <td><svg class="icon icon-pencil cur-res__icon--edit"><use xlink:href="img/sprite.svg#icon-pencil"></use></svg></a>
                                        <svg class="icon icon-cancel-circle cur-res__icon--delete"><use xlink:href="img/sprite.svg#icon-cancel-circle"></use></svg></a>
                                    </td>
                                </tr>

                            </tbody>
                    </table>
            </div>
        </div>
     </div> 
</section>
<%- include('includes/footer') %>