<%- include('includes/header') %>

<section class="section-home">
    <div class="header-box u-center u-u-mb-med">
        <img src="/img/sunriver-sm.png" class="header-box__image"></img>
        <div class="header-box__title">Sunriver</div>
    </div>
    <div class="row u-mb-med">
        <div class="col-1-of-3">
            <div class="make-res">
                <h2 class="heading-2 u-mb-med">Make a reservation</h2>
                <form action="/makeReservation" method="POST" class="make-res__form">
                    <div class="make-res__input-box">
                        <label for="resDates">Dates</label>
                        <input type="text" name="resDates" class="make-res__input-field" placeholder="" id="resCalendar">
                    </div>
                    <div class="make-res__input-box">
                        <label for="guest">Guest</label>
                        <input type="text" name="guest" class="make-res__input-field" placeholder="">
                    </div>
                    <div class="make-res__input-box">
                        <label for="phone">Phone</label>
                        <input type="text" name="phone" class="make-res__input-field" placeholder="">
                    </div>
                    <button class="btn btn-reserve u-mt-small">reserve</button>
                </form>
            </div>
        </div>
        <div class="col-2-of-3">
            <div class="cur-res">
                <h2 class="heading-2 u-mb-med">All Current Reservations</h2>
                    <div class="cur-res__results">
                        <ul class="cur-res__results-header--items">
                            <li>user</li>
                            <li>guest</li>
                            <li>phone</li>
                            <li>start</li>
                            <li>end</li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                <div class="cur-res__results">

                    <ul class="cur-res__results-body--items">
                        <li>Kathy</li>
                        <li>Friend</li>
                        <li>555-222-1111</li>
                        <li>9-12-2019</li>
                        <li>9-20-2019</li>
                        <li><svg class="icon icon-pencil cur-res__results-icon cur-res__results-icon--edit"><use xlink:href="img/sprite.svg#icon-pencil"></use></svg></a>
                            <svg class="icon icon-cancel-circle cur-res__results-icon cur-res__results-icon--delete"><use xlink:href="img/sprite.svg#icon-cancel-circle"></use></svg></a>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </div>

</section>
<%- include('includes/footer') %>

</body>
</html>

