<%- include('includes/header') %>
<body>
    <section class="section-login ">
            <div class="login-modal">
                <div class="header-box u-center">
                    <img src="/img/sunriver-sm.png" class="header-box__image--login"></img>
                    <div class="header-box__title--login">AMC</div>
                    <div class="header-box__subtitle--login ">Vacation Rentals</div>
                </div>
                <%- include('includes/flash') %>
                <form action="/login" method="POST" class="form u-center u-mt-med">
                    <input type="text" class="form_input" name="username" placeholder="username">
                    <input type="text" class="form_input" name="password" placeholder="password">
                    <div class="u-right">
                        <button type="submit" class="btn btn-login">SUBMIT</button>
                    </div>
                </form>
            </div> 
    </section>
<%- include('includes/footer') %>

