*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * (6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * (6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * (6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * (6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * (6rem)) / 4) +  2 *(6rem)); }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #ffffff; }

.heading-2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #95A5A2; }

.heading-3 {
  font-size: 2.4rem;
  letter-spacing: .3rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  margin-top: -2rem; }

.res-title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #95A5A2;
  font-size: 2rem; }

.u-center {
  text-align: center !important; }

.u-right {
  text-align: right !important; }

.u-hidden {
  display: none;
  opacity: 0;
  z-index: -100; }

.u-mt-large {
  margin-top: 6rem !important; }

.u-mt-med {
  margin-top: 3rem !important; }

.u-mt-small {
  margin-top: 1.5rem !important; }

.u-mb-small {
  margin-bottom: 1.5rem !important; }

.u-mb-med {
  margin-bottom: 3rem !important; }

.u-mb-large {
  margin-bottom: 6rem !important; }

.u-border-bottom {
  border-bottom: 1px solid #56B3A0; }

.btn {
  cursor: pointer;
  border-radius: 5px; }
  .btn-login {
    background-color: rgba(86, 179, 160, 0.8);
    font-size: 1.3rem;
    letter-spacing: 5px;
    padding: 1rem 1.8rem;
    color: #ffffff;
    transition: all .4s; }
    .btn-login:hover, .btn-login:active {
      background-color: transparent;
      color: #56B3A0;
      border: 2px solid #56B3A0;
      transform: scale(0.9); }
  .btn-reserve {
    padding: .5rem 1rem;
    letter-spacing: 2px;
    background-color: #56B3A0;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 12rem;
    transition: all .4s; }
    .btn-reserve:hover {
      background-color: transparent;
      border-bottom: 2px solid #56B3A0;
      color: #56B3A0; }

.header {
  width: 100%;
  min-height: 15vh;
  background-color: #56B3A0;
  position: relative;
  display: block; }
  .header__logo-box {
    position: absolute;
    top: 0;
    left: 7%;
    padding: 1rem;
    text-align: left;
    text-transform: uppercase; }
    .header__logo-box--title {
      font-weight: 300;
      font-size: 2.7rem;
      margin-top: -.5rem; }
    .header__logo-box--subtitle {
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: .1rem;
      margin-top: -1rem; }

.navigation__nav {
  float: right;
  position: absolute;
  top: 30%;
  right: 8%; }

.navigation__items {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300; }
  .navigation__items:not(:last-child) {
    margin-right: 2rem; }
  .navigation__items > a {
    text-decoration: none;
    color: #ffffff;
    vertical-align: middle; }
  .navigation__items svg {
    height: 4rem;
    width: 4rem;
    fill: #ffffff;
    transition: all .4s;
    vertical-align: middle; }
    .navigation__items svg:hover {
      fill: rgba(255, 255, 255, 0.5); }

.header-box {
  font-weight: 300;
  display: block;
  text-transform: uppercase; }
  .header-box__title {
    color: #56B3A0;
    font-size: 4.4rem;
    font-weight: 400;
    display: inline-block;
    letter-spacing: .7rem;
    margin-left: 2.5rem;
    vertical-align: middle; }
    .header-box__title--login {
      letter-spacing: 5px;
      font-size: 4.8rem;
      color: #56B3A0; }
  .header-box__subtitle--login {
    margin-top: -1.5rem;
    font-size: 2.4rem;
    color: #56B3A0;
    letter-spacing: 2px; }
  .header-box__image {
    width: 14.5rem;
    border-radius: 50%;
    border: 5px solid #56B3A0;
    vertical-align: middle; }
    .header-box__image--login {
      width: 20rem;
      border-radius: 50%;
      border: 5px solid #56B3A0; }

.cur-res__results {
  border-bottom: 1px solid #95A5A2;
  border-collapse: collapse;
  color: #95A5A2;
  width: 85%;
  margin: 0 7.5%;
  font-size: 1.2rem;
  text-align: center; }
  .cur-res__results thead {
    line-height: 3; }
  .cur-res__results th {
    text-transform: uppercase;
    color: #95A5A2;
    border-bottom: 1px solid #95A5A2; }
  .cur-res__results td {
    padding: 1.2rem 0;
    text-transform: uppercase;
    border-bottom: 1px solid #95A5A2;
    color: #95A5A2; }

.cur-res__icon--edit {
  cursor: pointer;
  fill: #56B3A0;
  width: 2.3rem;
  height: 2.3rem;
  padding: .3rem;
  transition: all .4s; }
  .cur-res__icon--edit:hover {
    transform: scale(1.2); }

.cur-res__icon--delete {
  cursor: pointer;
  fill: #BC8F89;
  width: 2.3rem;
  height: 2.3rem;
  padding: .3rem;
  transition: all .4s; }
  .cur-res__icon--delete:hover {
    transform: scale(1.2); }

.make-res {
  margin-bottom: .9rem; }
  .make-res__form {
    margin-left: 15%; }
  .make-res__input-box:not(:last-child) {
    margin-bottom: 1.2rem; }
  .make-res__input-box label {
    display: inline-block;
    width: 5rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: right;
    margin-right: 1rem;
    color: #95A5A2; }
  .make-res__input-field {
    display: inline-block;
    outline: none;
    border: none;
    padding: .3rem;
    border-bottom: 2px solid #95A5A2;
    background-color: transparent;
    transition: all .3s;
    margin-bottom: -2px; }
    .make-res__input-field:focus {
      border-bottom: 2px solid rgba(86, 179, 160, 0.9);
      outline: none; }

.section-home {
  padding: 3rem;
  background-color: #ffffff;
  background-size: cover;
  background-position: top; }
  .section-home__title {
    width: 40rem;
    display: inline-block;
    text-transform: uppercase;
    font-size: 3rem;
    background-color: rgba(86, 179, 160, 0.85);
    border-radius: 10px;
    padding: 1rem 1.4rem;
    letter-spacing: 8px; }

.section-login {
  height: 100vh; }

.login-modal {
  height: auto;
  display: block;
  border-radius: 15px;
  width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.form_input {
  font-weight: 300;
  display: block;
  width: 95%;
  margin: auto;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid #95A5A2; }
  .form_input:not(:last-child) {
    margin-bottom: 4rem; }
  .form_input:focus {
    outline: none; }
  .form_input::-webkit-input-placeholder {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Lato';
    font-size: 1rem; }
