*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 4rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * (6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * (6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * (6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * (6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * (6rem)) / 4) +  2 *(6rem)); }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem;
  color: #ffffff; }

.heading-2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #95A5A2; }

.heading-3 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #95A5A2;
  font-weight: 700;
  font-size: 1.2rem;
  margin-top: -2rem;
  display: inline-block; }
  .heading-3__admin-users {
    font-weight: 300;
    font-size: 1.5rem;
    color: #56B3A0; }
    .heading-3__admin-users--username {
      position: absolute;
      right: 18px;
      top: 16px; }
    .heading-3__admin-users--password {
      position: absolute;
      right: 18px;
      top: 50px; }

.res-title {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  color: #95A5A2;
  font-size: 2rem; }

.admin__title {
  font-size: 2.3rem;
  color: #56B3A0;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin-left: 45rem; }

.label {
  color: #95A5A2;
  display: inline-block;
  margin: 0 1rem;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1rem; }

.u-center {
  text-align: center !important; }

.u-right {
  text-align: right !important; }

.u-hidden {
  display: none;
  opacity: 0;
  z-index: -100; }

.u-float-left {
  float: left; }

.u-no-margin-right {
  margin: 0 !important; }

.u-mr-small {
  margin-right: 2rem; }

.u-mt-large {
  margin-top: 6rem !important; }

.u-mt-med {
  margin-top: 3rem !important; }

.u-mt-small {
  margin-top: 1.5rem !important; }

.u-mb-small {
  margin-bottom: 1.5rem !important; }
  .u-mb-small--admin {
    margin-bottom: 2rem !important; }

.u-mb-med {
  margin-bottom: 3rem !important; }

.u-mb-large {
  margin-bottom: 6rem !important; }

.u-border-bottom {
  border-bottom: 1px solid #56B3A0; }
  .u-border-bottom-wht {
    border-bottom: 1px solid #ffffff; }

.clearfix::after {
  content: '';
  display: table;
  clear: both; }

.btn {
  cursor: pointer;
  border-radius: 5px; }
  .btn-login {
    background-color: rgba(86, 179, 160, 0.8);
    font-size: 1.3rem;
    letter-spacing: 5px;
    padding: 1rem 1.8rem;
    color: #ffffff;
    transition: all .4s; }
    .btn-login:hover, .btn-login:active {
      background-color: transparent;
      color: #56B3A0;
      border: 2px solid #56B3A0;
      transform: scale(0.9); }
  .btn-reserve {
    padding: .5rem 1rem;
    letter-spacing: 2px;
    background-color: #56B3A0;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 12rem;
    transition: all .4s; }
    .btn-reserve:hover {
      background-color: transparent;
      border-bottom: 2px solid #56B3A0;
      color: #56B3A0; }
  .btn__admin {
    position: absolute;
    padding: .5rem 1rem; }
    .btn__admin--submit {
      top: 0;
      right: 26%;
      color: #ffffff;
      background-color: #529ABF;
      transition: all .4s; }
      .btn__admin--submit:hover {
        transform: translateX(1rem); }
    .btn__admin--delete {
      top: 0;
      right: 40%;
      color: #ffffff;
      background-color: #BC8F89;
      transition: all .4s; }
      .btn__admin--delete:hover {
        transform: translateX(1rem); }

.header {
  min-height: 8.4rem;
  background-color: #56B3A0;
  position: relative;
  display: block; }
  .header__logo-box {
    position: absolute;
    top: 0;
    left: 7%;
    padding: 1rem;
    text-align: left;
    text-transform: uppercase; }
    .header__logo-box--title {
      font-weight: 300;
      font-size: 2.7rem;
      margin-top: -.5rem; }
    .header__logo-box--subtitle {
      font-weight: 300;
      font-size: 2rem;
      letter-spacing: .1rem;
      margin-top: -1rem; }

.navigation__nav {
  position: absolute;
  top: 0;
  right: 7%;
  padding: 1rem; }
  .navigation__nav--sub-menu {
    position: absolute;
    top: 80%;
    right: -5%;
    font-weight: 300;
    font-size: 1.4rem;
    text-align: left;
    width: 12rem;
    background-color: #56B3A0;
    padding-top: 2rem;
    padding-bottom: .5rem;
    transition: all .4s;
    visibility: hidden;
    opacity: 0; }
    .navigation__nav--sub-menu--admin {
      padding: 0;
      text-align: center; }
    .navigation__nav--sub-menu li {
      display: block;
      text-transform: uppercase;
      list-style-type: none;
      margin-left: 14%; }
      .navigation__nav--sub-menu li a {
        text-decoration: none;
        color: #ffffff; }
        .navigation__nav--sub-menu li a:hover {
          color: rgba(255, 255, 255, 0.5); }

.navigation__item {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300; }
  .navigation__item--admin {
    position: absolute;
    bottom: 5rem;
    left: 4rem;
    padding: 0; }
    .navigation__item--admin .navigation__nav--sub-menu {
      left: 10rem;
      top: 1rem; }
      .navigation__item--admin .navigation__nav--sub-menu li {
        margin: 0; }
  .navigation__item:hover ul {
    visibility: visible;
    opacity: 1; }
  .navigation__item:not(:last-child) {
    margin-right: 2rem; }
  .navigation__item > a {
    text-decoration: none;
    color: #ffffff;
    vertical-align: middle; }
    .navigation__item > a:hover {
      color: rgba(255, 255, 255, 0.5); }
  .navigation__item svg {
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    fill: #ffffff;
    transition: all .4s;
    vertical-align: middle;
    margin: 1rem; }
    .navigation__item svg:hover {
      fill: rgba(255, 255, 255, 0.5); }

.header-box {
  font-weight: 300;
  display: block;
  text-transform: uppercase; }
  .header-box__title {
    color: #56B3A0;
    font-size: 4.4rem;
    font-weight: 400;
    display: inline-block;
    letter-spacing: .7rem;
    margin-left: 2.5rem;
    vertical-align: middle; }
    .header-box__title--login {
      letter-spacing: 5px;
      font-size: 4.8rem;
      color: #56B3A0; }
  .header-box__subtitle--login {
    margin-top: -1.5rem;
    font-size: 2.4rem;
    color: #56B3A0;
    letter-spacing: 2px; }
  .header-box__image {
    width: 14.5rem;
    border-radius: 50%;
    border: 5px solid #56B3A0;
    vertical-align: middle; }
    .header-box__image--login {
      width: 20rem;
      border-radius: 50%;
      border: 5px solid #56B3A0; }

.cur-res__results {
  border-bottom: 1px solid #95A5A2;
  border-collapse: collapse;
  color: #95A5A2;
  width: 85%;
  margin: 0 7.5%;
  font-size: 1.2rem;
  text-align: center; }
  .cur-res__results thead {
    line-height: 3; }
  .cur-res__results th {
    text-transform: uppercase;
    color: #95A5A2;
    border-bottom: 1px solid #95A5A2; }
  .cur-res__results td {
    padding: 1.2rem 0;
    text-transform: uppercase;
    border-bottom: 1px solid #95A5A2;
    color: #95A5A2; }

.cur-res__icon--edit {
  cursor: pointer;
  fill: #56B3A0;
  width: 2.3rem;
  height: 2.3rem;
  padding: .3rem;
  transition: all .4s; }
  .cur-res__icon--edit:hover {
    transform: scale(1.2); }

.cur-res__icon--delete {
  cursor: pointer;
  fill: #BC8F89;
  width: 2.3rem;
  height: 2.3rem;
  padding: .3rem;
  transition: all .4s; }
  .cur-res__icon--delete:hover {
    transform: scale(1.2); }

.make-res {
  padding: 2rem 1rem;
  border-radius: 25px; }
  .make-res__form {
    margin-left: 15%; }
  .make-res__input-box:not(:last-child) {
    margin-bottom: 1.2rem; }
  .make-res__input-box label {
    display: inline-block;
    width: 5rem;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: right;
    margin-right: 1rem;
    color: #95A5A2; }
  .make-res__input-field {
    display: inline-block;
    outline: none;
    border: none;
    padding: .3rem;
    border-bottom: 1px solid #95A5A2;
    background-color: transparent;
    transition: all .3s;
    margin-bottom: -2px; }
    .make-res__input-field:focus {
      border-bottom: 2px solid rgba(86, 179, 160, 0.9);
      outline: none; }

.alert {
  font-size: 1.2rem; }
  .alert-success {
    color: #56B3A0; }
  .alert-danger {
    color: #BC8F89; }

.section-home {
  padding: 3rem;
  background-color: #ffffff;
  background-size: cover;
  background-position: top; }
  .section-home__title {
    width: 40rem;
    display: inline-block;
    text-transform: uppercase;
    font-size: 3rem;
    background-color: rgba(86, 179, 160, 0.85);
    border-radius: 10px;
    padding: 1rem 1.4rem;
    letter-spacing: 8px; }

.section-login {
  height: 100vh; }

.login-modal {
  height: auto;
  display: block;
  border-radius: 15px;
  width: 30rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.form_input {
  font-weight: 300;
  display: block;
  width: 95%;
  margin: auto;
  padding: 1rem;
  border: none;
  border-bottom: 2px solid #95A5A2; }
  .form_input:not(:last-child) {
    margin-bottom: 4rem; }
  .form_input:focus {
    outline: none; }
  .form_input::-webkit-input-placeholder {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Lato';
    font-size: 1rem; }

.sidenav {
  height: 100%;
  width: 14rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #56B3A0; }
  .sidenav__box {
    margin-top: 11rem; }
  .sidenav__title {
    padding: .6rem .6rem .6rem 3.2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #ffffff;
    letter-spacing: 1px;
    font-weight: 300;
    cursor: pointer; }
    .sidenav__title:hover {
      background-color: #529ABF; }
      .sidenav__title:hover .sidenav__dropdown {
        visibility: visible;
        z-index: 1; }
  .sidenav__dropdown {
    width: 20rem;
    text-align: center;
    visibility: hidden; }
    .sidenav__dropdown--users {
      position: absolute;
      top: 11rem;
      left: 14rem;
      z-index: -1; }
    .sidenav__dropdown--homes {
      position: absolute;
      top: 15.2rem;
      left: 14rem;
      z-index: -1; }
    .sidenav__dropdown--keepers {
      position: absolute;
      top: 19.4rem;
      left: 14rem;
      z-index: -1; }
    .sidenav__dropdown li {
      background-color: #529ABF;
      border-bottom: 1px solid white;
      list-style-type: none;
      padding: .5rem;
      transition: transform .4s; }
      .sidenav__dropdown li:hover {
        transform: translateX(10px); }
    .sidenav__dropdown a {
      text-transform: uppercase;
      font-size: 1.3rem;
      text-decoration: none;
      color: #ffffff; }

.show {
  display: block; }

.main {
  margin-left: 20rem;
  /* Same as the width of the sidenav */ }

.admin-logo-box {
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: absolute;
  top: .6rem;
  left: 3.4rem;
  z-index: 1; }
  .admin-logo-box__title {
    font-size: 2.5rem; }
    .admin-logo-box__title--sub {
      font-size: 1.5rem;
      margin-top: -.8rem; }
    .admin-logo-box__title--notifications {
      border-radius: 5px;
      padding: .2rem .5rem;
      font-size: 1.2rem;
      margin-top: 0;
      background-color: #529ABF;
      border: 1px solid #ffffff; }

.user-form__container {
  margin-top: 2%;
  width: 50%;
  margin-left: 25%; }

.user-form__input {
  padding: .2rem;
  border-radius: 5px;
  border: 1px solid #95A5A2;
  width: 60%;
  display: block; }
  .user-form__input:focus {
    outline-color: #56B3A0; }

.user-form__checkbox-input {
  text-align: left; }

.user-form__radio-input {
  text-align: left;
  color: #95A5A2; }

.admin-top-margin {
  margin-top: 4rem; }

.admin__container {
  width: 80vw;
  margin-left: 20vw; }
