.btn {
    cursor: pointer;
    border-radius: 5px;
    

    &-login {
        background-color: rgba($color-primary, 0.8);
        font-size: 1.3rem;
        letter-spacing: 5px;
        padding: 1rem 1.8rem;
        color: $color-white;
        // transform: translateY(-5px);
        transition: all .4s;
        &:hover,
        &:active {
            background-color: transparent;
            color: $color-primary;
            border: 2px solid $color-primary;
            transform: scale(.9);
        }
    }

    &-submit {
        padding: .3rem .7rem;
        letter-spacing: 2px;
        
    }
    

}

