.btn {
    cursor: pointer;
    border-radius: 5px;
    

    &-login {
        background-color: rgba($color-primary, 0.8);
        font-size: 1.3rem;
        letter-spacing: 5px;
        padding: 1rem 1.8rem;
        color: $color-white;
        // transform: translateY(-5px);
        transition: all .4s;
        &:hover,
        &:active {
            background-color: transparent;
            color: $color-primary;
            border: 2px solid $color-primary;
            transform: scale(.9);
        }
    }

    &-reserve {
        padding: .5rem 1rem;
        letter-spacing: 2px;
        background-color: $color-primary;
        color: $color-white;
        text-transform: uppercase;
        margin-left: 12rem;
        transition: all .4s;

        &:hover {
            background-color: transparent;
            border-bottom: 2px solid $color-primary;
            color: $color-primary;
        }
        
    }
    

}

