.login {
    height: 100vh;
    background-image: url('../img/mt-hood.jpg');
    background-size: cover;
    background-position: top;

    position: relative;

    &-modal {
        padding: 2rem 5rem;
        border-radius: 15px;
        display: block;
        background-color: rgba($color-primary, .7);

        @include abs-center;
    }
}

.form{
    padding: 4rem;
    

    

    &_input {
        font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
        font-weight: 300;
        display: block;
        width: 100%;
        padding: 1rem;
        border-radius: 5px;
        border:none;
        background-color: rgba($color-white, .7);

        
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
        
        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder  {
            text-transform: uppercase;
            letter-spacing: 2px;
        }
        

    }

    
}

