
.section-login {
    height: 100vh;
    
    // background-color: red;
    
    
}

.login-modal {
    height: auto;
    display: block;
    // padding: 2rem 5rem;
    border-radius: 15px;
    width: 30rem;
    // background-color: orange;
    @include abs-center;
}

.form{

    &_input {
        font-weight: 300;
        display: block;
        width: 95%;
        margin: auto;
        padding: 1rem;
        border: none;
        border-bottom: 2px solid $color-grey;
        
        &:not(:last-child) {
            margin-bottom: 4rem;
        }
        
        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder  {
            text-transform: uppercase;
            letter-spacing: 5px;
            font-family: 'Lato';
            font-size: 1rem;
        }
        

    }

    
}


