.header {
    width: 100%;
    min-height: 15vh;
    background-color: $color-primary;
    position: relative;
    display: block;
    
    &__logo-box {
        position: absolute;
        top: 0;
        left: 7%;
        padding: 1rem;
        text-align: left;
        text-transform: uppercase;
        

        &--title {
            font-weight: 300;
            font-size: 2.7rem;
            margin-top: -.5rem;
        }

        &--subtitle {
            font-weight: 300;
            font-size: 2rem;
            letter-spacing: .1rem;
            margin-top: -1rem;
        }
    }
    
}

.navigation {

    &__nav {
        float: right;
        position: absolute;
        top: 30%;
        right: 8%;
    }

    &__items {
        list-style-type: none;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 300;
        

        &:not(:last-child) {
            margin-right: 2rem;
        }

        & > a {
            text-decoration: none;
            color: $color-white;
            vertical-align: middle;
        }
        
        & svg {    
            height: 4rem;
            width: 4rem;
            fill: $color-white; 
            transition: all .4s;
            vertical-align: middle;

            &:hover {
                fill: rgba($color-white, .5);
            }
        }
    }
}
