.make-res {
    margin-bottom: .9rem;
    
    &__form{
        margin-left: 15%;
    }

    &__input-box {

        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }
    }

    &__input-box label {
        display: inline-block;
        width: 5rem;
        text-transform: uppercase;
        font-size: 1.3rem;
        text-align: right;
        margin-right: 1rem;
        color: $color-grey;
        
    }

    &__input-field {
        display: inline-block;
        outline: none;
        border: none;
        padding: .3rem;
        border-bottom: 2px solid $color-grey;
        background-color: transparent;
        transition: all .3s;
        margin-bottom: -2px;

        &:focus {
            
            border-bottom: 2px solid rgba($color-primary, .9);
            outline: none;
        }
    }

}
