.cur-res__results {

    border-bottom: 1px solid $color-grey;
    border-collapse: collapse;
    color: $color-grey;
    width: 85%;
    margin: 0 7.5%;
    font-size: 1.2rem;
    text-align: center;
    
    &-header--items {
        display: flex;

        & li{
            text-transform: uppercase;
            flex: 1 1 auto;
            text-decoration: none;
            list-style-type: none;
            
        }
    }

    &-body--items {
        line-height: 3;
        display: flex;

        & li {
            text-transform: uppercase;
            flex: 1 1 auto;
            text-decoration: none;
            list-style-type: none;
        }

    }
    
    &-icon {
        cursor: pointer;
        width: 2.3rem;
        height: 2.3rem;
        padding: .3rem;
        
        transition: all .4s;

        &--edit {
            fill: $color-primary;
            
            &:hover {
                transform: translateX(-.5rem);
            }
        }

        &--delete {
            fill: $color-secondary;

            &:hover {
                transform: translateX(.5rem);
            }
        }
    }

   

}

