.header {
    width: 100%;
    min-height: 10vh;
    background-color: $color-primary;
    position: relative;
    display: block;
    
    &__logo-box {
        position: absolute;
        top: 0;
        left: 4%;
        padding: 1rem;
        text-align: left;
        text-transform: uppercase;

        &--title {
            font-size: 2.5rem;
            
        }

        &--subtitle {
            font-size: 1.5rem;
            letter-spacing: .2rem;
            margin-top: -1rem;
        }
    }
    
}

.navigation {
    float: right;
    position: absolute;
    top: 30%;
    right: 4%;

    &__items {
        list-style-type: none;
        
        img {
            width: 3rem;
        }
    }
}

.section-home {
    padding: 3rem;
    margin-top: -6rem;
    background-image: url('../../img/sunriver.jpg');
    background-size: cover;
    background-position: top;
    

    &__title {
        width: 40rem;
        display: inline-block;
        text-transform: uppercase;
        font-size: 3rem;
        background-color: rgba($color-primary, .85);
        border-radius: 10px;
        padding: 1rem 1.4rem;
        letter-spacing: 8px;
    }
}

.make-res__card {
    height: 30rem;
    padding: 2.5rem 2rem;;
    background-color: rgba($color-primary, .85);
    border-radius: 10px;
    
    &--input-block {

        &:not(:last-child) {
            margin-bottom: 1.2rem;
        }
    }

    &--button {
        float: right;
        @include clearfix;
    }

    &--title {
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 1px;
    }

    label {
        display: inline-block;
        width: 5rem;
        text-transform: uppercase;
        font-size: 1.3rem;
        text-align: right;
        margin-right: 1rem;
        
    }

    input {
        display: inline-block;
        border-radius: 8px;
        padding: .3rem;
        border: 2px solid $color-white;
        background-color: transparent;
        transition: all .3s;

        &:focus {
            border-radius: 8px;
            border: 2px solid rgba($color-white, .4);
            outline: none;
        }
    }

}