.sidenav {
    height: 100%;
    width: 12vw;
    position: fixed;
    
    top: 0;
    left: 0;
    background-color: $color-primary;
    
    
    &__box {
        margin-top: 11rem;
        
    }
    
    

    &__title {
        padding: .6rem .6rem .6rem 3.2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.8rem;
        color: $color-white;
        letter-spacing: 1px;  
        font-weight: 300;
        cursor: pointer;

        &:hover {
            background-color: $color-grey;

            & .sidenav__dropdown {
                visibility: visible;
                z-index: 1;
            }
        }
    }

      &__dropdown {

          width: 20rem;
          text-align: center;
          visibility: hidden;

          &--users {
            position: absolute;
            top: 11rem;
            left: 15rem;
            z-index: -1;
            
          }

          &--homes {
            position: absolute;
            top: 15.2rem;
            left: 15rem;
            z-index: -1;
          }

          &--keepers {
            position: absolute;
            top: 19.4rem;
            left: 15rem;
            z-index: -1;
          }

          & li {
              background-color: $color-grey;
              border-bottom: 1px solid white;
              list-style-type: none;
              padding: .5rem;
              transition: transform .4s;
              

              &:hover {
                  transform: translateX(10px);
              }
          } 

          & a {
            text-transform: uppercase;
            font-size: 1.3rem;
            text-decoration: none;
            color: $color-white;
        }  
      }
}


.show {
    display: block
}
  
.main {
    margin-left: 20rem; /* Same as the width of the sidenav */
}

.admin-logo-box {
    font-weight: 300;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: .6rem;
    left: 3.4rem;
    z-index: 1;

    &__title {
        font-size: 2.5rem;

        &--sub {
            font-size: 1.5rem;
            margin-top: -.8rem;
        }
    }
}


