.section-user {
    
    
}

.user-form {

    &__container {
        margin-top: 3rem;
        width: 50%;
        margin-left: 31rem;
    }

    &__input {
        padding: .8rem;
        border-radius: 5px;
        border: 1px solid $color-grey;
        width: 60%;
        display: block;

        &:focus {
            outline-color: $color-primary;
        }
    }

    &__checkbox-input {
        text-align: left;
    }

    &__radio-input {
        text-align: left;
        color: $color-grey;
        
    }
}

.label {
    color: $color-grey;
    display: inline-block;
    margin: 0 1rem;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 1px;
    
}

.admin-top-margin {
    margin-top: 4rem;
}