.sidenav {
    height: 100%;
    width: 20vw;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $color-primary;
    overflow-x: hidden;
    
    &__box {
        margin-top: 10rem;
        transition: all .4s;
    }
    
    &__title {
        padding: .6rem .6rem .6rem 3.2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2.0rem;
        color: $color-white;
        display: block;
        letter-spacing: 2px;
        transition: all .2s;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

      &__dropdown {
          display: none;
          text-align: center;
          transition: all 2s;

          & li {
              transition: all .4s;

              &:hover {
                  transform: translateX(10px);
              }
          } 

          & a {
            text-transform: uppercase;
            font-size: 1.3rem;
            text-decoration: none;
            color: $color-white;
        }  
      }
}


.show {
    display: block
}
  
.main {
    margin-left: 20rem; /* Same as the width of the sidenav */
}

.admin-logo-box {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;

    &__title {
        font-size: 5rem;

        &--sub {
            font-size: 2rem;
            margin-top: -2rem;

            &-1 {
                display: inline-block;
                padding: 3px 5px;
                border-radius: 5px;
                border: 1px solid $color-white;
            }
        }
    }
}


